body {
    font-family: arial;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.game-over {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    opacity: 1;
    animation: fadein 0.75s;
    color: white;
    align-items: center;
    vertical-align: auto;
}

/*#game-over-text {*/
/*    text-align: center;*/
/*    overflow-wrap: anywhere;*/
/*}*/

.reset-button {
    height: 100px;
    /*width: auto;*/
    align-self: center;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 32px;
    background: lawngreen;
}

.square {
    display: flex;
    height: 150px;
    width: 150px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}
