.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-over {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    opacity: 1;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*@keyframes dropdown {*/
/*    from {*/
/*        translateY(-100%)*/
/*    }*/
/*    to {*/
/*        translateY(-50%);*/
/*    }*/
/*}*/

.square {
    height: 150px;
    width: 150px;
}

#0 {
    background-color: red;
}
#1 {
    background-color: green;
}
#two {
    background-color: blue;
}
#three {
    background-color: darkred;
}
#four {
    background-color: darkgreen;
}
#five {
    background-color: darkblue;
}
#six {
    background-color: indianred;
}
#seven {
    background-color: lawngreen;
}
#eight {
    background-color: blueviolet;
}
